.students-container{
  box-shadow: 0 0 20px #333;
  margin: 0 auto;
  width: 80%;
  background-color: aliceblue;
  opacity: 0.8;

}

.section-students{
  text-align: center;


  &__title{
    margin-bottom: 20px;
  }
}

.grid-table{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin: 0 auto;
  font-size: large;
  font-weight: 800;
  padding: 5px;
  background-color: dodgerblue;
}
