<section class="dash-container">
  <h2>Recorridos de Aprendizaje destacados</h2>
  <div class="cards-container">
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Programación </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../../assets/image/landing_pav.png" alt="">
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Educación y TIC</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../../assets/image/landing_pav1.png" alt="">
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Manejo de Base de Datos</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../../assets/image/landing_pav2.png" alt="">
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Ciberseguridad</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../../assets/image/landing_pav3.png" alt="">
      </mat-card>
    </div>

  </div>

</section>
