.login-container{
  background-color: rgba(0, 0, 0, 0.253);
  width: 100%;
  height: 100%;
  background-image: url(../../../../assets/image/pexels-brett.jpg);
 background-repeat: no-repeat;
 background-attachment:fixed ;
 background-size: cover;
 background-size: 100% 100%;
display: grid;
place-items: center;
}

.login-container__form{
  width: 40%;
  height: 45%;
  display: grid;
place-items: center;
}

.form-container{
width: 70%;
}
