.form-container{

    padding: 5px;
    margin: auto;
    background-color: aliceblue;
  }


  .add-student-form{
    display: flex;
    flex-direction: column;
    margin-top: 18px;
  }
  .form-group{
    display: flex;
    gap: 14px;
  }

