<mat-card appearance="outlined" class="example-card">
  <mat-card-header>
    <mat-card-subtitle>Programacion</mat-card-subtitle>
    <mat-card-title>{{curso.nombre}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{curso.descripcion}}</p>
    <mat-card-subtitle>{{curso.duracion}}</mat-card-subtitle>
    <mat-card-subtitle>{{curso.precio}}</mat-card-subtitle>

    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Me Interesa</button>
  </mat-card-actions>
</mat-card>
