// .cursos-card__component{
//   display: grid;
//   grid-template-rows: 100px 100px;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   grid-gap: 5px;

// }

// .cursos-card__component {
//   background: rgb(20, 16, 16);
//   text-align: center;
//   border: white 2px solid;
//   height: 150px;
//   color: aliceblue;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
// }

// article{
//   width: 80%;
// }


// .curso-nombre{
//   width: 80%;
//   font-size: larger;
//   font-weight: 500;
// }

// .curso-descripcion{
//   width: 50%;
// }

// .curso-duracion{
//   width: 50%;
// }

// .curso-precio{
//   width: 50%;
// }

.example-card {
  //max-width: 400px;
  background-color: rgb(241, 236, 230);
  max-width: 800px;
}

h1{
  color: aliceblue;
}
