.footer-container{
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: 300;
  background-color: #24252a;
}

.tittle{
  font-size: large;
  color: white;
}


.contact{
  gap: 40px;
  display: flex;
  flex-direction: row;
  font-size: large;
  color: white;
  align-items: center;
}

a{
  color: #c7c7c7;
}
